.bookmarkPage {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmarkPage>p {
    font-size: 16px;
    font-size: 600;
}